@model CMA.Models.Math_Attendance

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Math_Attendance")">Math Class</a></li>
                    <li class="breadcrumb-item active">Edit number of lectures</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<h4>Math_Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit_Num_Lectures" method="post">
            <div class="form-group">
                <label asp-for="Total_lectures" class="control-label"></label>
                <input asp-for="Total_lectures" class="form-control" />
                <span asp-validation-for="Total_lectures" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
